<!-- <div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>Overview <small>Why is Ani Theme so awesome?</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!<br /><br />
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
</div> -->
<div>
	<div class="searchWrap">

		<h1 class="myHeading">Live Your City</h1>
		<h4 class="myTitle">We uncover the best events every day</h4>

		<div class="input-group add-on searchBoxGroup">
			<input class="form-control searchInput" placeholder="Search by event,venue or area..." name="srch-term" id="srch-term" type="text">
			<div class="input-group-btn">
				<button class="btn btn-default searchIcon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>

	</div>
	<div class="container myPad">

		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="noMargin">Happening Events In Delhi NCR</h1>
				</div>
				<div class="text-center style-light">
					<h4 class="heading-dash">
						Credibly transform client-based ideas before compelling infomediaries. Completely provide access to turnkey<br> interfaces and empowered benefits. Uniquely innovate exceptional.
					</h4>
				</div>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a ui-sref="eventView">
				<div class="categoryWrap">

					<img src="/images/demo-images/5.png" class="catImage">
					<a href="event.html" class="catLink">Nightlife</a>
					<div class="catContent">
						<h3 class="titleHeading">Space Spectacular</h3>
						<label class="dateHeading"><span class="glyphicon glyphicon-calendar"></span> Saturday 28 May, 11:00 PM</label><br/>
						<label class="dateHeading"><span class="glyphicon glyphicon-map-marker"></span> Rio Cinema, Dalston</label>
					</div>
					<div class="col-xs-6">
						<label class="dateHeading lineHeight34">Min. Price $50</label>
					</div>
					<div class="col-xs-6 text-right">
						<a href="#" class="btn btn-info btnBg">Get Tickets</a>
					</div>
					<div class="cl"></div>
					<br/>

				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a ui-sref="eventView">
				<div class="categoryWrap">

					<img src="/images/demo-images/5.png" class="catImage">
					<a href="event.html" class="catLink">Nightlife</a>
					<div class="catContent">
						<h3 class="titleHeading">Space Spectacular</h3>
						<label class="dateHeading"><span class="glyphicon glyphicon-calendar"></span> Saturday 28 May, 11:00 PM</label><br/>
						<label class="dateHeading"><span class="glyphicon glyphicon-map-marker"></span> Rio Cinema, Dalston</label>
					</div>
					<div class="col-xs-6">
						<label class="dateHeading lineHeight34">Min. Price $50</label>
					</div>
					<div class="col-xs-6 text-right">
						<a href="#" class="btn btn-info btnBg">Get Tickets</a>
					</div>
					<div class="cl"></div>
					<br/>

				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a ui-sref="eventView">
				<div class="categoryWrap">

					<img src="/images/demo-images/5.png" class="catImage">
					<a href="event.html" class="catLink">Nightlife</a>
					<div class="catContent">
						<h3 class="titleHeading">Space Spectacular</h3>
						<label class="dateHeading"><span class="glyphicon glyphicon-calendar"></span> Saturday 28 May, 11:00 PM</label><br/>
						<label class="dateHeading"><span class="glyphicon glyphicon-map-marker"></span> Rio Cinema, Dalston</label>
					</div>
					<div class="col-xs-6">
						<label class="dateHeading lineHeight34">Min. Price $50</label>
					</div>
					<div class="col-xs-6 text-right">
						<a href="#" class="btn btn-info btnBg">Get Tickets</a>
					</div>
					<div class="cl"></div>
					<br/>

				</div>
			</a>
		</div>

		<div class="cl"></div>
		<br/><br/>
		<div class="col-md-12">
			<div class="text-center ">
				<a ui-sref="events" style='background-color:grey; font-size:20px; border-style:none;'href='#' class='btn btn-info' role='button'>Show me more</a>
			</div>

		</div>
		<div class="cl"></div>

	</div>
	<div class="cl"></div>
	<br/><br/>
	<hr class="hrLine" />
	<br/>
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="text-center heading-dash">
					<h1>FEATURED</h1>
				</div>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<br/><br/>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

			<div class="categoryWrap">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
					<div class="col-xs-8 col-sm-12 padding0">
						<img src="/images/f1.jpg" class="featureImg">
					</div>
					<div class="col-xs-4 col-sm-12 padding0">
						<div class="col-xs-12 col-sm-6 padding0">
							<img src="/images/f2.jpg" class="featureImg1 fl">
						</div>
						<div class="col-xs-12 col-sm-6 padding0">
							<img src="/images/f3.jpg" class="featureImg1 fr">
						</div>
						<div class="cl"></div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
					<div class="wrap12">
						<h3 class="titleHeading">Space Spectacular</h3>
						<p class="subText1">
							Time is a precious commodity in this city and we make sure you get the most out of your weekend.
						</p>
					</div>
				</div>
				<div  class="cl"></div>
			</div>

		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="categoryWrap">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
					<div class="col-xs-8 col-sm-12 padding0">
						<img src="/images/f1.jpg" class="featureImg">
					</div>
					<div class="col-xs-4 col-sm-12 padding0">
						<div class="col-xs-12 col-sm-6 padding0">
							<img src="/images/f2.jpg" class="featureImg1 fl">
						</div>
						<div class="col-xs-12 col-sm-6 padding0">
							<img src="/images/f3.jpg" class="featureImg1 fr">
						</div>
						<div class="cl"></div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
					<div class="wrap12">
						<h3 class="titleHeading">Space Spectacular</h3>
						<p class="subText1">
							Time is a precious commodity in this city and we make sure you get the most out of your weekend.
						</p>
					</div>
				</div>
				<div  class="cl"></div>
			</div>
		</div>

		<div class="cl"></div>

	</div>
	<div class="cl"></div>

	<br/><br/>

	<div class="row noMargin">
		<div class="col-md-12">
			<div class="text-center ">
				<a style='background-color:grey; font-size:20px; border-style:none;'href='#' class='btn btn-info' role='button'>Show me more</a>
			</div>

		</div>
	</div>
	<br/><br/>
</div>