<div>
    
  <div style="padding-top:120px;padding-bottom:50px;background-color:#3CBC71;height:400px;">
<h1 style="color:white;text-align:center;font-size:40px">Partiko FAQ</h1>
<div class="static" style="display:flex;color:white;justify-content:center;padding-top:50px;">
<div class="staticdiv"style="padding:0 30px;">
<img style="height:60px;padding-bottom:10px;"src="images/terms.png">
<a ui-sref="terms"><h5>Terms and Conditions</h5></a>
</div>
<div class="staticdiv"style="padding:0 30px;">
<img style="height:60px;padding-bottom:10px;"src="images/faq.png">
<a ui-sref="faq" style=" border-bottom:2px solid white;"><h5>FAQ's</h5></a>
</div>
<div class="staticdiv"style="padding:0 30px;">
<img style="height:60px;padding-bottom:10px;"src="images/privacy.png">
<a ui-sref="privacy"><h5>Privacy Policy</h5></a>
</div>


</div>
  </div>


   <section class="content no-padding-bottom">
                  <div class="container">
                   <div class="row padding1x">
                             <div class="col-md-3 col-sm-4 col-sx-12" style="padding-bottom:50px;">
                      <ul class="static-ul">
                        <a ng-click="scrollTo('about-partiko')"><li>About Partiko</li></a>
                        <a ng-click="scrollTo('functioning')"><li>Functioning</li></a> 
                        <a ng-click="scrollTo('booking-event')"><li>Booking Events</li></a>
                        <a ng-click="scrollTo('charges')"><li>Handling charges</li></a>
                        <a ng-click="scrollTo('booking-limit')"><li>Ticket booking limit</li></a>
                        <a ng-click="scrollTo('cancellation')"><li>Cancellation</li></a>
                        <a ng-click="scrollTo('payment-modes')"><li>Modes of payment</li></a>
                        <a ng-click="scrollTo('sold-out')"><li>Sold Out</li></a>
                        <a ng-click="scrollTo('cut-off')"><li>Cut Off Time</li></a>
                        <a ng-click="scrollTo('booking-advance')"><li>Bookings in advance</li></a>
                        <a ng-click="scrollTo('friends-see')"><li>My Friends on Partiko</li></a>
                        <a ng-click="scrollTo('account-info')"><li>Account information</li></a>
                        <a ng-click="scrollTo('inviting')"><li>Inviting friends</li></a>
                        <a ng-click="scrollTo('credits')"><li>Credits</li></a>
                        <a ng-click="scrollTo('cool-things')"><li>Other Cool Things</li></a>
                        <a ng-click="scrollTo('feedback')"><li>Feedback</li></a>
                      </ul>
                    </div>
                              <div class="col-sm-8 col-md-9 col-sx-12">
                                  <div>
                                      <h3 >BOOKING WITH PARTIKO</h3>
                                      
                                     <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="about-partiko"> What's Partiko?</strong></h3><br>
Partiko is a last minute event discovery app . Discover your city though events in multiple categories.  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="functioning">
  How Does It All Work?
</strong></h3><br>
We feature events as soon as we get confirmation, usually 3-4 days before the event. Keep an eye out for unique Partiko perks such as late entries, exclusive events, a freebie with your booking, or a discount that is irresistible to resist.
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="booking-event">
  How Do I Book An Event?
</strong></h3><br>
Browse through various events in multiple categories listed on our app. Select any event and click on "Book Now".   <br>
 
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="paying-event">
  How Do I Pay For An Event?
</strong></h3><br>
You can either pay online at the time of booking the event or choose to pay later at the venue. After the booking is done,you'll get an email or an sms confirming your purchase. Also,an E-ticket will be generated on our app. You can use either of these for confirmation at the venue.
  <br>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="charges">
How much are your handling charges?
</strong></h3><br>
For a 100 rupee ticket,you have to pay just 105. We charge a basic 5% on each ticket.
  <br>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="booking-limit">
  How many tickets can I book in one transaction?
</strong></h3><br>
You are allowed a maximum of 10 tickets per transaction in each area category
  <br>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="confirmation">
  How can I confirm whether my tickets have been booked?
</strong></h3><br>
  As soon as your booking is confirmed, a confirmation e-mail and SMS containing your booking details is sent across to the contact details entered while booking. In case you have not received the confirmation e-mail/SMS, please click on the 'Resend Confirmation' button on the homepage and enter the contact details used while transacting, a confirmation e-mail/SMS would be resent to you
 <br>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="cancellation">
  Can we cancel or replace our tickets?
</strong></h3><br>
  As per our policy, once a ticket has been paid for, it is considered sold. It cannot be replaced or cancelled.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="payment-modes">
  What are the modes of payment available to book tickets?</strong></h3><br>
  We have the below modes of payment available for purchasing tickets:<br>
Website:<br>
1. QuickPays<br>
2. Debit/Credit Card<br>
3. Netbanking<br>
4. American Express ezeClick<br>
5. Cash Card / Mobile / Wallet<br>
6. Gift Voucher<br>
7. Redeem points(Payback & Citibank Reward Points)<br>
Mobile Apps:<br>
1. Debit/Credit Card<br>
2. Gift Voucher<br>
3. Net Banking<br>
4. Cash Card/Mobile/Wallet<br>
5. Redeem Points <br>
We will be adding new payment options in the near future.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="sold-out">
  Do Events Sell Out?</strong></h3><br>
  Yes of course, so book your tickets asap. Once an event is sold out, a waiting list will be made available. We'll always try our best to sneak you in,but it's not guaranteed.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="cut-off">
  How Late Can I Book An Event?</strong></h3><br>
  If you see it in the app, it's yours for the taking.The cut-off time for booking may vary from event to event.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="booking-advance">
  Can I Book An Event For Tomorrow Or Later?</strong></h3><br>
  Yes you can. We usually have events 3-4 days prior to the event date, but sometimes there’s more added last minute, and even a select few that go on sale several days early. Keep checking Partiko regularly as the top events sell out quickly...why plan when you have Partiko?
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="friends-see">
  Are My Friends Seeing The Same Events As Me?</strong></h3><br>
  Not necessarily. Everyone sees individually handpicked events, so you and your mates may see different sets of events. Use the app to share events with your buddies, or better still, snap up tickets for everyone - they'll love you forever.
</p>
                                
                                      <h3>USING PARTIKO</h3>
                                      <p>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="account-info">
  How Do I Change My Account Information?</strong></h3><br>
  Go to "Settings" in the main menu.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="inviting">
  Can I Invite Friends To Use The App?</strong></h3><br>
  That'd be great. Get your friends to join the movement by going to "My Rewards" in the main menu and "Share Your Code" through your social networks, email, or text message.
  <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="credits">
  How Do I Get Me Some Credit?</strong></h3><br>
  If you love Partiko, tell a friend. Partiko rewards you by getting you a free entry in some of the handpicked events. Go to "My Rewards" and invite your friends to Partiko. You can also win prizes depending on your referrals
  <br>
  <h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="cool-things">
What are the other cool things to look forward to?
</strong></h3><br>We'll soon have a contest under the leaderboard section of our app where users get a chance to win a brand new iphone. We'll have more such contests on a regular basis in the future. Keep yourself updated with our app to know more. <br><h3 style=" border-bottom:2px solid green;padding-top:50px;"><strong style="padding-top:50px;" id="feedback">
  Where Can I Give Feedback?</strong></h3><br>
  Tell us the good, the bad, and the ugly. We'll answer any questions you may have, listen to your feedback, or just have a friendly chinwag if you're feeling lonely. Rain or shine, early breakfast or last cocktail – we'd love to hear from you!</p>
                                  </div>
                              </div>
                             </div>






      </div><!-- end .container -->
  </section><!-- .content -->






 </div>