<!-- =========================
     FOOTER 
============================== -->
<footer class="deep-dark-bg" id="foot">

   <div class="container" >
  
       <div class="row" style="padding:80px; ">
           <div class="col-md-8 col-md-offset-2">
               <h2 style="font-family:'Century Gothic'">hello@partiko.com</h2>
               <br />
               <div style="margin-top:-50px;">
                   <h2 style="font-family:'Century Gothic'">
                       +91-97 17 15 2069
                   </h2><p style="font-family:'Century Gothic'">
                            StartUp Tunnel,
                            Adianta School Of Leadership<br />
                            D-57, 100 Feet Road, Near Chattapur Metro Station<br />
                       New Delhi 110019
                   </p>
               </div>
           </div>
       </div>







  <!--Commenting Start
        <div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM ->
    
    <a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
    
    <!-- EXPANDED CONTACT FORM ->
    <div class="row expanded-contact-form">
      
      <div class="col-md-8 col-md-offset-2">
        
        <!- FORM ->
        <form class="contact-form" id="contact" role="form">
          
          <!-- IF MAIL SENT SUCCESSFULLY >
          <h4 class="success">
            <i class="icon_check"></i> Your message has been sent successfully.
          </h4>
          
            <!-- IF MAIL SENDING UNSUCCESSFULL ->
          <h4 class="error">
            <i class="icon_error-circle_alt"></i> E-mail must be valid and message must be longer than 1 character.
          </h4>
          
          <div class="col-md-6">
            <input class="form-control input-box" id="name" type="text" name="name" placeholder="Your Name">
          </div>
          
          <div class="col-md-6">
            <input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
          </div>
          
          <div class="col-md-12">
            <input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Subject">
            <textarea class="form-control textarea-box" id="message" rows="8" placeholder="Message"></textarea>
          </div>
          
          <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Send Message</button>
          
        </form>
        <!-- /END FORM ->
        
      </div>
      
    </div>
    <!-- /END EXPANDED CONTACT FORM ->
    
  </div>
  <!-- /END CONTACT BOX And commenting -->
  
  <!-- LOGO -->
    <div class="container">
        <div class="container" >
            <div class="row " style="font-family:'Century Gothic'">


                <div class="col-md-3">
                   
                        <h4 class="brown-text">UseFull Links</h4>  <!--Header color fix-->
                        <ul>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\faq.html">FAQ</a></h5>
                            </li>

                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\terms.html">Terms of Supply</a></h5>
                            </li>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\privacy.html">Privacy Policy</a></h5>
                            </li>
                        </ul>
                    
                </div>

                <div class="col-md-3">
                   
                        <h4 class="brown-text">Business</h4>
                        <ul>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\list_event.html">List My Event</a></h5>
                            </li>

                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\business.html">Become Our Partner</a></h5>
                            </li>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\LoginPage.html"> Partner Login</a></h5>
                            </li>
                        </ul>
                    


                </div>

                <div class="col-md-3">
                    
                        <h4 class="brown-text">Meet Partiko</h4>
                        <ul>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\about_us.html">About Us</a></h5>
                            </li>

                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\brand_manager.html">Brand Managers</a></h5>
                            </li>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\campus_ambassadors.html">Campus Ambassadors</a></h5>
                            </li>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="#">Join Us</a></h5>
                            </li>
                        </ul>
                   

                </div>

                <div class="col-md-3">
                    
                        <h4 class="brown-text"  >Press &amp; Media</h4>
                        <ul>
                            <li>
                              <h5 style="color:#BAB7B7"><a href="assets/Press-kits.zip">Press Kits</a></h5>
                            </li>

                            <li>
                              <h5 style="color:#BAB7B7"><a href="s\media.html">Media Coverage</a></h5>
                            </li>
                        </ul>
                    
                </div>

            </div>
        </div>
        </div>
        <!-- SOCIAL ICONS -->
       <ul class="social-icons" style="padding-bottom:5px;margin-top:5px;">
           <li><a href="https://www.facebook.com/partikodelhi?_rdr=p"><i class="social_facebook_square"></i></a></li>
           <li><a href="https://twitter.com/Partiko1"><i class="social_twitter_square"></i></a></li>
           <li><a href="https://plus.google.com/+Partiko/posts"><i class="social_googleplus_square"></i></a></li>

       </ul>
        <!-- COPYRIGHT TEXT -->
       <p class="copyright" style="padding-top:5px;margin-bottom:5px;font-family:'Century Gothic'">
           ©2015 Partiko Services Pvt. Ltd., All Rights Reserved
       </p>
    </div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->