<div>
    
    <div class="text-center"style="background: url('../images/media.jpg'); background-size:cover; height:500px; padding-top:230px; color:white"><h1 style="font-size:70px;">Partiko in News</h1></div>
    
                                       
                               
                                            <div class="container">
   
    <div class="row" style="    display: flex;
    align-items: center;
    flex-wrap: wrap;">

        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
<a href="http://m.dailyhunt.in/news/india/english/inc42-epaper-inc/tapchief-wins-chase-your-dreams-contest-raises-150k-from-paytm-ceo-vijay-shekhar-sharma-newsid-52090322">
                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m1.png">
                </div>
                
            </div>

        </div>

       <div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
<a href="http://techcircle.vccircle.com/2015/12/07/the-party-has-just-started-say-nightlife-aggregators/">

                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m2.png"></a>
                </div>
               
                
            </div>

        </div><div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
                    <a href="http://www.indianweb2.com/2014/11/07/partiko-get-nightlife-information-whatsapp/">
                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m3.png"></a>
                </div>
               
            </div>

        </div><div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
<a href="http://www.iamwire.com/2015/10/socializing-apps-roundup-instabounce-partiko-and-duplay/124630">
                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m4.png"></a>
                </div>
               
                
            </div>

        </div><div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
<a href="https://inc42.com/buzz/tapchief-chase-your-dreams-winner/">
                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m5.png"></a>
                </div>
                
                
            </div>

        </div><div class="col-lg-4 col-sm-6">

            <div class="card hovercard" style="background-color:#f7f7f7;">

                <div>
<a href="http://www.mindcron.com/discover-and-book-amazing-events-patiko/">
                    <img style="width:100%;height:100%; padding:20px;"alt="" src="images/m6.png"></a>
                </div>
               
            </div>

        </div>
    </div>
</div>
                                        </div>
                                