<div class="table-responsive">
        <div style="margin:30px 0"class="membership-pricing-table">
            <table>
                <tbody><tr>
                    <th><h3 style="text-align:right; padding-right:10px;">PRICING PLANS</h3></th>
                    <th class="plan-header plan-header-free">
                <div class="pricing-plan-name" style="padding-bottom:20px;">FREE</div>
                <div class="pricing-plan-price">
                    <sup></sup>0%<span>/per ticket</span>
                </div>
                <div class="pricing-plan-period"></div>
                </th>
                
                <th class="plan-header plan-header-red">
                <div class="pricing-plan-name" style="padding-bottom:20px;">PREMIUM</div>
                <div class="pricing-plan-price">
                    <sup></sup>10%<span>/per ticket</span>
                </div>
                <div class="pricing-plan-period"></div>
                </th>
                </tr>
                
                <tr>
                    <td>UNLIMITED EVENTS:</td>
                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    
                </tr>
                <tr>
                    <td>Support Forum Access:</td>
                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>

                </tr>
                <tr>
                    <td>MARKETING TO USER:</td>
                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                   
                </tr>
                <tr>
                    <td>SOCIAL INTEGRATION:</td>
                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                   
                </tr>
                <tr>
                    <td></td>

                    <td class="action-header">
                        <a class="btn btn-info">
                            Sign up
                        </a>
                    </td>
                
                    <td class="action-header">
                        <a class="btn btn-info">
                            Sign up
                        </a>
                    </td>
                </tr>
                
            </tbody></table>
        </div>
    </div>