<div>
	
	<br>
	<br>
	<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    
                                        <br>
                       <h4 class="text-center" style="color:rgba(14, 12, 17, 0.84)">Join Partiko</h4>
	
                            <br>

                    <div style="padding-top:30px" class="panel-body" >
                        <div class="text-center">
                         <div style="width:60%; height:50px; background-color:#006DBF !important; border-radius:10px;"id="btn-fblogin "  class="btn btn-success">    <a href="#"><div style="padding-top:10px; font-size:13px;"><span class="fa fa-facebook"></span> CONNECT WITH FACEBOOK</div></a>    </div></div>
                         <br>
                         
                         <div class="text-center">
                         <div style="width:60%; height:50px; background-color:#00ADF3 !important; border-radius:10px;"id="btn-signup"  class="btn btn-success">    <a href="#/signup"><div style="padding-top:10px; font-size:13px;"><span class="fa fa-twitter"></span> CONNECT WITH TWITTER</div></a>    </div></div> 
                         <br>
                         <div class="text-center">
                         <div style="width:60%; height:50px; background-color:#FF5C3B !important; border-radius:10px;"id="btn-glogin"  class="btn btn-success">    <a href="#"><div style="padding-top:10px; font-size:13px;"><span class="fa fa-google"></span> CONNECT WITH GMAIL</div></a>    </div></div> 
                         <br><br><br>
                         <div class="text-center">
                         <div style="width:30%; height:50px; background-color:#00C0A0 !important; border-radius:10px;"id="btn-fblogin "  class="btn btn-success">    <a href="#"><div style="padding-top:10px; font-size:13px;">NEXT</div></a>    </div></div>
                         <br>
                         
                       

                        </div>                     
                    </div>  
        </div>
        
    </div>
    
</div>