<div>
    
    <br>
    <br>
    <div class="container">    
        <div id="ticketpopup" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">   
        <div style="display:flex; flex-direction:row; justify-content:space-between;">
            <h3>{{vm.transaction.event.event_name}}</h3> 
            <div style="display:flex; flex-direction:column; align-items:center;">
             <a ng-if="vm.transaction.event.event_name" ui-sref='event_detail({ event_id: "{{slugify(vm.transaction.event.event_name,vm.transaction.event.event_id)}}",category: "{{vm.transaction.event.category.toLowerCase()}}" })'>
             <h5 style="color:#ED5E44;">see event</h5></a>
             <span style="color:#ED5E44;"class="glyphicon glyphicon-chevron-right"></span>
            </div>        
        </div>
    <br>
    <div class="hrLine"></div>
    <br>
            <label class="dateHeading1 margin0"><span class="glyphicon glyphicon-map-marker"></span>{{vm.transaction.event.location}}</label>
    <br>
            
            <div class="hrLine"></div>
            <br>
    <label class="dateHeading1"><span class="glyphicon glyphicon-calendar"></span> {{vm.transaction.transaction_date | date:'medium'}}</label><br>
    <div class="hrLine"></div><br>
    <div ng-repeat="ticket in vm.transaction.transaction_tickets" style="display:flex; justify-content:space-between">
    <div style="display:flex;align-items:baseline;">
    <i style="font-size:20px;"class="fa fa-ticket"></i>
    <div><h4>&nbsp&nbsp{{ticket.title}}</h4>
    
    <h4>&nbsp&nbsp₹ {{ticket.price}} * {{ticket.quantity}}</h4>
​
    </div>
    </div>
    <div>
    <h4>Sub-Total : ₹ {{ticket.sub_total}}</h4>
    <h6>Processing fees : ₹ {{ticket.processing_charges}}</h6>
    </div>
    </div>
    <h6 ng-if="vm.promoresponse && vm.promoresponse.discount">Coupon Discount : ₹ {{vm.promoresponse.discount}}</h6>
    <h4>Have a Promo code ?</h4>
    <form id="codeform" class="form-horizontal" role="form">
                                
                       
                            <input style="height:40px;" id="promo-code" type="text" ng-model="vm.promocode" class="form-control" name="promocode" value="" placeholder="Apply code here"  required>                                        
                                <!-- </div> -->
                            <div  role="alert" multiple>
                                <div >
                                    <span>{{vm.promomessage}}</span>
                                </div>
                               
                            </div>
                   
                        
                        <div class="col-sm-12 controls" style="padding:0px; padding-top:10px;">
                            <button style="width:130px; height:30px" id="btn-apply" class="btn btn-success"
                             ng-click="vm.applyCoupon()">Apply Code</button>
                        </div>
                    </form>
                    <br><br>
    <h4> Total Amount : ₹ {{vm.transaction.transaction_amount}}</h4>

    <br>
     <a id="rzp-button1" class="btn btn-info btnBg text-center" style="margin:0 40%;"><span >CONFIRM</span> </a>
    <br><br>
        </div>
    </div>
    ​
    </div>
    <br><br><br><br>