<div>

	<div class="searchWrap1">
        <h1 class="myHeading"> Go Paperless with Partiko</h1>
		
        <div class="col-md-6 col-md-offset-3 text-center">
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.events.partiko"><img style="padding:15px; height:90px;"src="../images/google.png"></a>
                            <a target="_blank" ng-click="openDialogBox4()"><img style="padding:15px; height:90px;"src="../images/apple.png"></a>
                        </div>
                        <div class="cl"></div>
    </div>

	
<div >
	 <div class="col-md-6"ng-repeat="transaction in vm.transactions" >
    <div style="height:190px; padding:10px 20px;margin:10px;background-color:white; display:flex; align-items:center;">
        <div class="ticket">
            <h3 style="padding:14px;text-align:center; color:#A8ADAF">{{transaction.quantity}}</h3>
        </div>
        &nbsp&nbsp&nbsp
        <div class="ticket-details">
            <h4 style="height:20px;overflow:hidden;" >{{transaction.event.event_name}}</h4>
            <h5 style="color:grey;">Bought on {{transaction.transaction_date | date:'medium'}}</h5>
            <h5>Amount: &#8377;{{transaction.transaction_amount}}</h5>
            <h5><span class="glyphicon glyphicon-map-marker"></span>{{transaction.event.location | limitTo: 40}}...</h5>
            <h5>{{transaction.event.start_date | date : 'medium'}}</h5>
            <h5> Transaction-ID: <strong>{{transaction.transaction_id}}</strong></h5>
        </div>
        
    </div>
    </div>


<br><br>

<div class="cl"></div>
        <br/><br/>
       
        <div class="col-md-12">
            <div class="text-center">
                <a style='background-color:#f8f8f8; font-size:20px;border:1px solid #EBEBEB; color:#929292; width:200px; ' class='showmore btn btn-info' ng-click="vm.UserTransactions()" role='button'><span style="line-height:44px" translate="showMore"></span></a>
            </div>
        </div>
    <div class="cl"></div>
</div>
</div>	
